@font-face {
    font-family: Inter;
    src: url(/font/Inter-Regular.ttf);
}
@font-face {
    font-family: Forum;
    src: url(/font/Forum-Regular.ttf);
}
@font-face {
    font-family: Inter-bolen;
    src: url(/font/Inter-Medium.ttf);
}
header {
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headerr {
    display: flex;
    background: #0C0C0E;
    justify-content: center;
    width: 1440px;
    height: 90px;
    align-items: center;
}
.bruklin {
    color: #FFF;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; 
    letter-spacing: 0.6px;
    margin-left: -1px;
}

nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
    margin-left: 454px;
}

.textnav{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 250% */
}

.icone_profil{
    margin-left: 40px;
    flex-shrink: 0;
}
.wellcome{
    display: flex;
    width: 1440px;
    height: 600px;
    background-image: url(/photo/backgroundd.jpg);
    background-size: cover;
    background-position: center;
    margin: 0px;
}
.block1{
    display: flex;
    width: 600px;
    height: 220px;
    
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: 0px;
    margin-top: 220px;
    background: #0C0C0E;
}
.blockin1{
    width: 520px;
    height: 150px;
    flex-shrink: 0;
    text-align: center;
}
 h1 {
    color: #FFF;
    text-align: center;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    letter-spacing: 3px;
    text-transform: uppercase;
 }
.about{
    display: flex;
    width: 1440px;
    height: auto;
    background: #FFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 20px;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.line{
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background: #0C0C0E;
}
.simple_text{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    margin-top: 25px;
}
.partext{
    color: #000;
    font-family: Inter-bolen;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-left: 20px;
    margin-top: 30px;
}
.photo_block{
    display: flex;
    align-items: flex-start;
    gap:25px;
   
    margin-top: 20px;
}
.photo_to_block{
    width: 450px;
    height: 560px;
    flex-shrink: 0;
}
.round_darck{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #BB945F;
}
.round_black{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #0C0C0E;
    ;
}
.block_round{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px;

}
.textjust{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.container_textjust{
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    margin-top: 38px;
    gap: 90px;
}
.inputflex{
    display: flex;
    gap: 20px;

}
.text_main1 {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.text_main{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.textinside{
    color: #000;
    min-height: 320px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
    
}

.buttuobuy{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.buttuobuy:hover{
    background-color: #1e6bb8
}
.line_card{
    width: 60px;
    height: 1px;
    background: #BB945F;
}
.div_card1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.card2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;   
}
.card3{
    width: 355px;
    margin-top: 20px;

}
.card{
    box-sizing: border-box;
    width: 550px;
    height: 555px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #FFF;
    padding-top: 15px;
    padding-left: 20px;
    margin-top: 42px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    margin-bottom: -1px;
}
.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1440px;
}
.booking{
    display: flex;
    width: 200px;
    height: 300px;
    position: absolute;
    left: 390px;
    top: 254px;
}
.coffe-shop{
    padding: 20px;
}
.par{
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 25px;
    margin-left: 10px;
}
.about1{
    display: flex;
    width: 1440px;
    height: auto;
    background: #FFF;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.coffe{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1440px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
.cof-tea{
    display: flex;
    gap: 40px;
    width: 438px;
    height: 520px;
    flex-direction: column;
}
.coffeteaa{
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.beetwen{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.name_coffe{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: start;
    width: 200px;
}
.stick{
    display: flex;
    width: 100px;
    height: 1px;
    background: #BB945F;
    align-items: center;
    justify-content: center;
}
.prisetag{
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.coffeteaa2{
    color: #BB945F;
    text-align: end;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.name_coffe2{
    color: #000;
    text-align:end;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 200px;
}
.name_coffe22{
    color: #000;
    text-align:end;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 230px;
}
